.hero{
    text-align:center;
    color:white;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.hero-btn{
    display:inline-block;
    padding:12px 25px;
    background:white;
    color:#667eea;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.hero-btn:hover{
    transform:scale(1.05);
}